In [18]:
import numpy as np
import pandas as pd 
import seaborn
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
import datetime
from scipy import stats
%matplotlib inline

In [19]:
df_2016 = pd.read_csv('2016_df.csv', parse_dates='Created_Date')
df_2015 = pd.read_csv('2015_df.csv', parse_dates='Created_Date')
df_2014 = pd.read_csv('2014_df.csv', parse_dates='Created_Date')

In [20]:
df_2016 = df_2016.replace(to_replace="-", value=0)

In [21]:
train_years = pd.concat([df_2014, df_2015])

In [22]:
train_years.head()

,Created_Date,Building_Conditions,General_Request,Living_Conditions,Parking_Enforcement,Signal_Sign_Repair,Street_Sidewalk_Repair,Max_TempF,Weather
0,2014-01-01,1512,388,155,336,139,303,34,10
1,2014-01-02,3236,921,263,360,315,320,33,9
2,2014-01-03,3712,624,235,306,240,516,19,4
3,2014-01-04,4347,489,154,375,130,1188,31,10
4,2014-01-05,2529,500,169,361,206,1022,49,1

In [23]:
df_2016.head()

,Created_Date,Buiding_Conditions,General_Request,Living_Conditions,Signal_Sign_Repair,Street_Sidewalk_Repair,Max_TempF,Weather
0,2016-01-01,0,0,0,0,0,42,0
1,2016-01-02,0,0,0,0,0,40,0
2,2016-01-03,0,0,0,0,0,45,0
3,2016-01-04,0,0,0,0,0,36,0
4,2016-01-05,0,0,0,0,0,29,0