In [6]:
import pandas as pd
import numpy as np

In [7]:
keepers = reason_keepers = ['OPEN_DT', 'CASE_TITLE', 'neighborhood', 'Geocoded_Location']

In [8]:
#df_raw = pd.read_csv('../../data_311/boston_311/bos_20140701_20141231.csv', low_memory=False)
df = pd.read_csv('../../data_311/boston_311/bos_20140701_20141231.csv', low_memory=False, usecols=keepers, index_col=['OPEN_DT'], parse_dates=['OPEN_DT'])

In [9]:
df.to_csv("BOS_2014_2.csv", date_format='%Y-%m-%d')

In [10]:
df_from_new = pd.read_csv("BOS_2014_2.csv", low_memory=False, index_col=['OPEN_DT'], parse_dates=['OPEN_DT'])
df_from_new.head()

,CASE_TITLE,neighborhood,Geocoded_Location
OPEN_DT,,,
2014-07-01,Request for Recycling Cart,Jamaica Plain,"(42.2968, -71.1153)"
2014-07-01,Schedule Bulk Item Pickup,Greater Mattapan,"(42.2834, -71.0927)"
2014-07-01,Missed Trash: District 02,Jamaica Plain,"(42.3106, -71.1247)"
2014-07-01,Notification,Dorchester,"(42.2892, -71.076)"
2014-07-01,Requests for Street Cleaning,West Roxbury,"(42.2732, -71.1443)"

In [11]:
df_from_new.isnull().sum()

CASE_TITLE             88
neighborhood         4243
Geocoded_Location       0
dtype: int64

In [12]:
df_from_new.head()

,CASE_TITLE,neighborhood,Geocoded_Location
OPEN_DT,,,
2014-07-01,Request for Recycling Cart,Jamaica Plain,"(42.2968, -71.1153)"
2014-07-01,Schedule Bulk Item Pickup,Greater Mattapan,"(42.2834, -71.0927)"
2014-07-01,Missed Trash: District 02,Jamaica Plain,"(42.3106, -71.1247)"
2014-07-01,Notification,Dorchester,"(42.2892, -71.076)"
2014-07-01,Requests for Street Cleaning,West Roxbury,"(42.2732, -71.1443)"