In [7]:
import pandas as pd
import numpy as np

In [8]:
keepers = reason_keepers = ['OPEN_DT', 'CASE_TITLE', 'neighborhood', 'Geocoded_Location']

In [9]:
#df_raw = pd.read_csv('../../data_311/boston_311/bos_20150101_20150630.csv', low_memory=False, index_col=['OPEN_DT'], parse_dates=['OPEN_DT'])
df = pd.read_csv('../../data_311/boston_311/bos_20150101_20150630.csv', low_memory=False, usecols=keepers, index_col=['OPEN_DT'], parse_dates=['OPEN_DT'])

In [10]:
df.to_csv("BOS_2015_1.csv", date_format='%Y-%m-%d')

In [11]:
df_from_new = pd.read_csv("BOS_2015_1.csv", low_memory=False, index_col=['OPEN_DT'], parse_dates=['OPEN_DT'])
df_from_new.head()

,CASE_TITLE,neighborhood,Geocoded_Location
OPEN_DT,,,
2015-01-01,Other,Downtown / Financial District,"(42.3574, -71.0648)"
2015-01-01,PRINTED,Fenway / Kenmore / Audubon Circle / Longwood,"(42.3474, -71.0944)"
2015-01-01,PRINTED,Fenway / Kenmore / Audubon Circle / Longwood,"(42.3474, -71.0944)"
2015-01-01,Animal Found,West Roxbury,"(42.2711, -71.1464)"
2015-01-01,Fire,Dorchester,"(42.3254, -71.0574)"

In [12]:
df_from_new.isnull().sum()

CASE_TITLE             66
neighborhood         6708
Geocoded_Location       0
dtype: int64

In [13]:
df_from_new.head()

,CASE_TITLE,neighborhood,Geocoded_Location
OPEN_DT,,,
2015-01-01,Other,Downtown / Financial District,"(42.3574, -71.0648)"
2015-01-01,PRINTED,Fenway / Kenmore / Audubon Circle / Longwood,"(42.3474, -71.0944)"
2015-01-01,PRINTED,Fenway / Kenmore / Audubon Circle / Longwood,"(42.3474, -71.0944)"
2015-01-01,Animal Found,West Roxbury,"(42.2711, -71.1464)"
2015-01-01,Fire,Dorchester,"(42.3254, -71.0574)"