In [72]:
%matplotlib inline

import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [73]:
df = pd.read_csv('nyc/NYC_2015_2.csv')

In [74]:
ser = pd.Series(df['Complaint_Type'])

In [75]:
ser.value_counts()[0:31]

HEAT/HOT WATER                       82286
Blocked Driveway                     52459
Illegal Parking                      50739
Street Light Condition               48902
UNSANITARY CONDITION                 46150
Street Condition                     42062
PAINT/PLASTER                        35236
Water System                         35196
Noise - Street/Sidewalk              31313
Noise                                30309
PLUMBING                             26907
Noise - Commercial                   22120
DOOR/WINDOW                          20021
Sanitation Condition                 18875
Dirty Conditions                     18104
Traffic Signal Condition             17886
WATER LEAK                           17104
Rodent                               16530
ELECTRIC                             15663
General Construction/Plumbing        15394
Sewer                                15210
FLOORING/STAIRS                      14632
GENERAL                              14195
Missed Collection (All Materials)    13870
Building/Use                         13431
DOF Literature Request               12397
Derelict Vehicle                     11746
Damaged Tree                         11142
Benefit Card Replacement             10994
Noise - Vehicle                      10619
Broken Muni Meter                    10403
Name: Complaint_Type, dtype: int64

In [76]:
#df.ix[df.B.isin(['X','Y','Z']), 'Complaint_Type'] = "General Request/Complaint"
df.ix[df.Complaint_Type.isin(['DOF Literature Request','GENERAL','Noise','Noise - Commercial','GENERAL CONSTRUCTION','Graffiti','Consumer Complaint','Taxi Complaint','Benefit Card Replacement','SAFETY','Traffic','Vending','DCA / DOH New License Application Request','DOT Literature Request','Noise - Park','For Hire Vehicle Complaint','Construction','DCA Literature Request','CONSTRUCTION']), 'Complaint_Type'] = "General Request or Complaint"

In [77]:
df.ix[df.Complaint_Type.isin(['PLUMBING','PAINT/PLASTER','ELECTRIC','Building/Use','WATER LEAK','General Construction/Plumbing','HEAT/HOT WATER','Missed Collection (All Materials)','DOOR/WINDOW','HEATING','PAINT - PLASTER','FLOORING/STAIRS','Maintenance or Facility','APPLIANCE','Elevator','Food Establishment','Plumbing','Electrical','Fire Safety Director - F58','Non-Residential Heat','Boilers','Asbestos','Lead','Vacant Lot','School Maintenance','Indoor Sewage']), 'Complaint_Type'] = "Building Conditions"

In [78]:
df.ix[df.Complaint_Type.isin(['Sewer','Dirty Conditions','Rodent','Sanitation Condition','UNSANITARY CONDITION','Animal Abuse','Air Quality','Unsanitary Animal Pvt Property','Smoking','Food Poisoning','Homeless Encampment','Homeless Person Assistance']), 'Complaint_Type'] = "Living Conditions"

In [79]:
df.ix[df.Complaint_Type.isin(['Traffic Signal Condition','Street Light Condition','Street Sign - Damaged','Street Sign - Missing']), 'Complaint_Type'] = "Signal/Sign Repair"

In [80]:
df.ix[df.Complaint_Type.isin(['Derelict Vehicles','Derelict Vehicle','Blocked Driveway','Illegal Parking','Broken Muni Meter']), 'Complaint_Type'] = "Parking Enforcement"

In [81]:
df.ix[df.Complaint_Type.isin(['Water System','Noise - Street/Sidewalk','Street Condition','Snow','Overgrown Tree/Branches','Damaged Tree','Highway Condition','Dead Tree','Root/Sewer/Sidewalk Condition','Noise - Vehicle','Sidewalk Condition','Illegal Tree Damage','Standing Water','Street Sign - Dangling']), 'Complaint_Type'] = "Street/Sidewalk Maintenance"

In [82]:
df.head()

,Created_Date,Complaint_Type,Borough,Location
0,2015-12-31,Living Conditions,BROOKLYN,"(40.66342138028857, -73.88671133970169)"
1,2015-12-31,Living Conditions,QUEENS,"(40.67282376633267, -73.86059887327649)"
2,2015-12-31,Living Conditions,BRONX,"(40.81623901998593, -73.92044720977557)"
3,2015-12-31,Living Conditions,MANHATTAN,"(40.79093172475263, -73.97091757406896)"
4,2015-12-31,Living Conditions,BRONX,"(40.82766692751561, -73.83047495288068)"

In [83]:
ser.value_counts()[0:31]

Building Conditions                        289784
Street/Sidewalk Maintenance                158710
Parking Enforcement                        135745
Living Conditions                          135376
General Request or Complaint               135357
Signal/Sign Repair                          71968
Opinion for the Mayor                        5179
SCRIE                                        3821
HPD Literature Request                       3757
Other Enforcement                            3542
Agency Issues                                2497
Indoor Air Quality                           2272
Taxi Report                                  1918
Special Projects Inspection Team (SPIT)      1792
Special Enforcement                          1783
Hazardous Materials                          1742
Water Conservation                           1701
Litter Basket / Request                      1492
Violation of Park Rules                      1035
Curb Condition                               1016
Animal in a Park                              970
DPR Internal                                  954
Overflowing Litter Baskets                    937
DOF Property - Reduction Issue                907
Sweeping/Missed                               898
Drinking                                      861
OUTSIDE BUILDING                              808
Industrial Waste                              792
Noise - Helicopter                            780
Derelict Bicycle                              701
Water Quality                                 688
Name: Complaint_Type, dtype: int64

In [84]:
#ser.value_counts()[6:]
df.ix[df.Complaint_Type.isin(['NONCONST','SCRIE','Special Projects Inspection Team (SPIT)','Water Conservation','Other Enforcement','Special Enforcement','For Hire Vehicle Complaint','Hazardous Materials','Violation of Park Rules','Industrial Waste','Indoor Air Quality','Litter Basket / Request','Agency Issues','Request Xmas Tree Collection','DPR Internal','EAP Inspection - F59','Derelict Bicycle','Water Quality']), 'Complaint_Type'] = ""

In [85]:
df.ix[df.Complaint_Type.isin(['Animal in a Park','OUTSIDE BUILDING','Overflowing Litter Baskets','Bridge Condition','Noise - Helicopter','Sweeping/Missed','Drinking','Request for Information','Emergency Response Team (ERT)','BEST/Site Safety','Noise - House of Worship','Curb Condition','Taxi Compliment','Recycling Enforcement']), 'Complaint_Type'] = ""

In [86]:
df.ix[df.Complaint_Type.isin(['Unleashed Dog','Unsanitary Pigeon Condition','Unsanitary Pigeon Condition','','','']), 'Complaint_Type'] = ""

In [87]:
np.array(ser, dtype=pd.Series)

array(['Living Conditions', 'Living Conditions', 'Living Conditions', ...,
       'Living Conditions', 'Living Conditions', 'Living Conditions'], dtype=object)

In [88]:
ser.value_counts()[6:]

                                       34282
Opinion for the Mayor                   5179
HPD Literature Request                  3757
Taxi Report                             1918
DOF Property - Reduction Issue           907
ELEVATOR                                 637
Posting Advertisement                    603
Vector                                   537
DOF Parking - Tax Exemption              518
Investigations and Discipline (IAD)      491
Urinating in Public                      415
DOF Property - Update Account            348
Bike/Roller/Skate Chronic                285
Sweeping/Inadequate                      283
Ferry Inquiry                            260
Panhandling                              218
Public Payphone Complaint                214
For Hire Vehicle Report                  202
Mold                                     175
Senior Center Complaint                  173
Ferry Complaint                          163
City Vehicle Placard Complaint           161
Found Property                           157
Illegal Animal Kept as Pet               151
Scaffold Safety                          149
Harboring Bees/Wasps                     143
Plant                                    132
Disorderly Youth                         127
DEP Literature Request                   120
Illegal Fireworks                        118
                                       ...
Stalled Sites                              9
Legal Services Provider Complaint          8
Bottled Water                              8
X-Ray Machine/Equipment                    8
Transportation Provider Complaint          8
Taxpayer Advocate Inquiry                  7
Highway Sign - Dangling                    7
Fire Alarm - Addition                      6
Hazmat Storage/Use                         6
Sprinkler - Mechanical                     6
Tunnel Condition                           5
Advocate - Other                           5
SRDE                                       4
Calorie Labeling                           4
DHS Income Savings Requirement             4
Interior Demo                              3
Fire Alarm - Replacement                   2
Building Condition                         2
Radioactive Material                       2
Unspecified                                2
Rangehood                                  2
Public Assembly - Temporary                2
Advocate-Commercial Exemptions             1
Gas Station Discharge Lines                1
AGENCY                                     1
Advocate-Prop Class Incorrect              1
Advocate - RPIE                            1
VACANT APARTMENT                           1
Squeegee                                   1
Standpipe - Mechanical                     1
Name: Complaint_Type, dtype: int64

In [89]:
ser.value_counts()[0:6]

Building Conditions             289784
Street/Sidewalk Maintenance     158710
Parking Enforcement             135745
Living Conditions               135376
General Request or Complaint    135357
Signal/Sign Repair               71968
Name: Complaint_Type, dtype: int64

In [90]:
keep_these_complaints = ['Building Conditions', 'Street/Sidewalk Maintenance', 'General Request or Complaint', 'Parking Enforcement', 'Living Conditions', 'Signal/Sign Repair']

In [91]:
#df.loc[df['column_name'].isin(some_values)]
df_new = df.loc[df['Complaint_Type'].isin(keep_these_complaints)]

In [92]:
df_new.head()

,Created_Date,Complaint_Type,Borough,Location
0,2015-12-31,Living Conditions,BROOKLYN,"(40.66342138028857, -73.88671133970169)"
1,2015-12-31,Living Conditions,QUEENS,"(40.67282376633267, -73.86059887327649)"
2,2015-12-31,Living Conditions,BRONX,"(40.81623901998593, -73.92044720977557)"
3,2015-12-31,Living Conditions,MANHATTAN,"(40.79093172475263, -73.97091757406896)"
4,2015-12-31,Living Conditions,BRONX,"(40.82766692751561, -73.83047495288068)"

In [93]:
df_new.Complaint_Type.value_counts()

Building Conditions             289784
Street/Sidewalk Maintenance     158710
Parking Enforcement             135745
Living Conditions               135376
General Request or Complaint    135357
Signal/Sign Repair               71968
Name: Complaint_Type, dtype: int64

In [94]:
len(df_new)

926940

In [95]:
df_new.to_csv('NYC4_F.csv', index = False)

In [96]:
file_df = pd.read_csv('NYC4_F.csv')

In [97]:
file_df.head()

,Created_Date,Complaint_Type,Borough,Location
0,2015-12-31,Living Conditions,BROOKLYN,"(40.66342138028857, -73.88671133970169)"
1,2015-12-31,Living Conditions,QUEENS,"(40.67282376633267, -73.86059887327649)"
2,2015-12-31,Living Conditions,BRONX,"(40.81623901998593, -73.92044720977557)"
3,2015-12-31,Living Conditions,MANHATTAN,"(40.79093172475263, -73.97091757406896)"
4,2015-12-31,Living Conditions,BRONX,"(40.82766692751561, -73.83047495288068)"