In [2]:
import pandas as pd
import numpy as np

In [53]:
keepers = ['Created Date', 'Complaint Type', 'Borough', 'Location']

In [54]:
#df_raw = pd.read_csv('../../data_311/nyc_311/nyc_20140101_20140630.csv', low_memory=False, index_col=['Created Date'], parse_dates=['Created Date'])
df = pd.read_csv('../../data_311/nyc_311/nyc_20140101_20140630.csv', low_memory=False, usecols=keepers, parse_dates=['Created Date'])

In [55]:
df = df.rename(columns = {'Created Date':'Created_Date'})

In [56]:
df = df.rename(columns = {'Complaint Type':'Complaint_Type'})

In [57]:
df = df.set_index('Created_Date')

In [60]:
df.tail()

,Complaint_Type,Borough,Location
Created_Date,,,
2014-01-01,HEATING,QUEENS,"(40.760156011101515, -73.89642659097404)"
2014-01-01,HEATING,MANHATTAN,"(40.83462222534318, -73.94766206533)"
2014-01-01,HEATING,BRONX,"(40.8815647657024, -73.85906546132107)"
2014-01-01,HEATING,MANHATTAN,"(40.8049220596191, -73.94862818669279)"
2014-01-01,HEATING,MANHATTAN,"(40.728640649252114, -74.00313896176043)"

In [61]:
df.to_csv("NYC_2014_1.csv", date_format='%Y-%m-%d')

In [3]:
df_from_new = pd.read_csv("NYC_2014_1.csv", low_memory=False, index_col=['Created_Date'], parse_dates=['Created_Date'])
df_from_new.head()

,Complaint_Type,Borough,Location
Created_Date,,,
2014-06-30,HEAT/HOT WATER,BRONX,"(40.87016285040958, -73.88879970718)"
2014-06-30,HEAT/HOT WATER,BROOKLYN,"(40.64314961982049, -73.95046073917715)"
2014-06-30,HEAT/HOT WATER,BROOKLYN,"(40.64507250981882, -73.87864906383643)"
2014-06-30,HEAT/HOT WATER,MANHATTAN,"(40.86334391631684, -73.92915076102932)"
2014-06-30,PAINT/PLASTER,BROOKLYN,"(40.64393283892149, -73.95273031361069)"

In [4]:
len(pd.unique(df_from_new.index.ravel()))

181