In [45]:
import numpy as np
import pandas as pd 
import seaborn
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
%matplotlib inline

In [46]:
cols = ['Created_Date', 'Complaint_Type']
df = pd.read_csv('NYC.csv', usecols=cols, parse_dates=['Created_Date'])
df.head()

  Created_Date       Complaint_Type
0   2014-06-30  Building Conditions
1   2014-06-30  Building Conditions
2   2014-06-30  Building Conditions
3   2014-06-30  Building Conditions
4   2014-06-30  Building Conditions

In [47]:
df.ix[df.Complaint_Type.isin(['General Request or Complaint']), 'Complaint_Type'] = 1
df.ix[df.Complaint_Type.isin(['Signal/Sign Repair']), 'Complaint_Type'] = 2
df.ix[df.Complaint_Type.isin(['Parking Enforcement']), 'Complaint_Type'] = 3
df.ix[df.Complaint_Type.isin(['Building Conditions']), 'Complaint_Type'] = 4
df.ix[df.Complaint_Type.isin(['Living Conditions']), 'Complaint_Type'] = 5
df.ix[df.Complaint_Type.isin(['Street/Sidewalk Maintenance']), 'Complaint_Type'] = 6

In [48]:
#df.index = df['Created_Date']

In [49]:
df = df.sort_index()

In [59]:
df.groupby(df['Created_Date'], axis=0).sum()

              Complaint_Type
Created_Date
2014-01-01             10315
2014-01-02             18810
2014-01-03             21141
2014-01-04             27160
2014-01-05             19088
2014-01-06             22078
2014-01-07             38369
2014-01-08             36792
2014-01-09             28260
2014-01-10             20183
2014-01-11             12425
2014-01-12             13477
2014-01-13             19265
2014-01-14             19168
2014-01-15             19268
2014-01-16             19093
2014-01-17             18618
2014-01-18             10928
2014-01-19             11932
2014-01-20             14216
2014-01-21             19704
2014-01-22             28688
2014-01-23             34959
2014-01-24             29693
2014-01-25             19794
2014-01-26             17357
2014-01-27             24236
2014-01-28             26838
2014-01-29             23944
2014-01-30             25735
...                      ...
2015-12-02             19918
2015-12-03             22247
2015-12-04             20912
2015-12-05             14099
2015-12-06             13105
2015-12-07             23130
2015-12-08             21133
2015-12-09             20282
2015-12-10             18267
2015-12-11             17380
2015-12-12             12839
2015-12-13             10626
2015-12-14             19590
2015-12-15             20178
2015-12-16             19319
2015-12-17             17852
2015-12-18             17910
2015-12-19             17905
2015-12-20             14410
2015-12-21             20174
2015-12-22             16180
2015-12-23             16344
2015-12-24             12694
2015-12-25              6650
2015-12-26              9017
2015-12-27             10162
2015-12-28             20747
2015-12-29             21091
2015-12-30             19092
2015-12-31               301

[730 rows x 1 columns]

In [13]:
pd.DataFrame.groupby??