### How can I replace the 0 values in df_2014 with 1 or the ```df_holiday['Holday']``` value for the index matching the holiday's date?

In [1]:
import numpy as np
import pandas as pd 
import seaborn
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
import datetime
from scipy import stats
%matplotlib inline

:0: FutureWarning: IPython widgets are experimental and may change in the future.

**Grab data from master NYC file, sort and group to show complaint amount by type for each day**

In [2]:
cols = ['Created_Date', 'Complaint_Type']
df = pd.read_csv('NYC.csv', parse_dates=['Created_Date'], usecols=cols, index_col='Created_Date')
df = pd.get_dummies(df.Complaint_Type)
df = df.reset_index()
df = df.groupby(df['Created_Date']).sum()
df.reset_index().head()
df = df.sort_index()

**Read in weather data for the years being analyzed and index by date**

In [3]:
keepers = ['EST', 'Max TemperatureF', 'Events']
df_weather_2014 = pd.read_csv('clean_2014_weather.csv', usecols=keepers, parse_dates='EST')
df_weather_2015 = pd.read_csv('clean_2015_weather.csv', usecols=keepers, parse_dates='EST')
df_weather_2014 = df_weather_2014.set_index('EST')
df_weather_2015 = df_weather_2015.set_index('EST')

**Join the weather event to the year's dataframe, initialize 'Holiday' column with 0 vals**

In [4]:
df_2014 = df[:365].join(df_weather_2014)
df_2015 = df[365:].join(df_weather_2015)
df_2014['Holiday'] = 0
df_2015['Holiday'] = 0

**Rename columns to better fit my screen**

In [5]:
df_2014.columns = ['Building Conditions', 'General Request', 'Living Conditions', 'Parking Enforcement', 'Signal/Sign Repair', 'Street/Sidewalk Repair', 'Max TempF', 'Weather', 'Holiday']
df_2015.columns = ['Building Conditions', 'General Request', 'Living Conditions', 'Parking Enforcement', 'Signal/Sign Repair', 'Street/Sidewalk Repair', 'Max TempF', 'Weather', 'Holiday']

**Read in holiday csv, contains holidays and dates for each year**

In [6]:
df_holidays = pd.read_csv('../../../holidays.csv', parse_dates=['2014_date', '2015_date'])

In [24]:
df_holidays2 = df_holidays.set_index('2014_date')

In [26]:
df_2014.join(df_holidays2, lsuffix='_')

,Building Conditions,General Request,Living Conditions,Parking Enforcement,Signal/Sign Repair,Street/Sidewalk Repair,Max TempF,Weather,Holiday_,Holiday,2015_date
Created_Date,,,,,,,,,,,
2014-01-01,1512,388,155,336,139,303,34,Sunny,0,New Year's Day,2015-01-01
2014-01-02,3236,921,263,360,315,320,33,Snow,0,NaN,NaT
2014-01-03,3712,624,235,306,240,516,19,Fog-Snow,0,NaN,NaT
2014-01-04,4347,489,154,375,130,1188,31,Sunny,0,NaN,NaT
2014-01-05,2529,500,169,361,206,1022,49,Fog-Rain,0,NaN,NaT
2014-01-06,2621,996,433,463,753,923,53,Fog-Rain-Snow,0,NaN,NaT
2014-01-07,6635,1234,412,361,912,938,20,Sunny,0,NaN,NaT
2014-01-08,5989,1330,384,412,767,1136,24,Sunny,0,NaN,NaT
2014-01-09,3876,1103,414,471,728,1119,34,Sunny,0,NaN,NaT
2014-01-10,2774,1012,329,448,581,654,38,Rain-Snow,0,NaN,NaT
2014-01-11,1495,519,251,457,279,457,54,Fog-Rain,0,NaN,NaT
2014-01-12,1595,546,218,337,239,662,52,Sunny,0,NaN,NaT
2014-01-13,1803,1077,410,472,677,1026,50,Sunny,0,NaN,NaT
2014-01-14,1970,1150,481,481,718,809,48,Rain,0,NaN,NaT
2014-01-15,1964,1051,478,437,558,924,44,Fog,0,NaN,NaT
2014-01-16,2110,1116,453,496,492,800,42,Fog,0,NaN,NaT
2014-01-17,1894,1016,398,522,496,913,45,Sunny,0,NaN,NaT
2014-01-18,1438,582,231,399,110,337,42,Rain-Snow-Thunderstorm,0,NaN,NaT
2014-01-19,1804,529,209,300,143,326,38,Sunny,0,NaN,NaT
2014-01-20,1832,656,341,413,180,488,48,Snow,0,Martin Luther King Jr. Day,2015-01-19
2014-01-21,3243,1130,261,315,641,345,33,Snow,0,NaN,NaT
2014-01-22,5039,1111,244,311,483,717,18,Snow,0,NaN,NaT
2014-01-23,5431,1112,248,445,586,1396,21,Sunny,0,NaN,NaT
2014-01-24,4767,1197,243,447,526,970,20,Sunny,0,NaN,NaT
2014-01-25,3467,611,206,437,164,441,30,Fog-Snow,0,NaN,NaT
2014-01-26,2637,622,177,366,131,657,36,Snow,0,NaN,NaT
2014-01-27,3203,1278,342,446,504,1015,45,Sunny,0,NaN,NaT
2014-01-28,3659,1205,366,545,586,1060,22,Snow,0,NaN,NaT
2014-01-29,3414,1195,308,471,508,854,24,Snow,0,NaN,NaT
2014-01-30,3448,1152,308,545,568,1080,28,Sunny,0,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...
2014-12-02,2839,779,627,698,503,530,47,Rain,0,NaN,NaT
2014-12-03,2209,790,626,631,480,522,48,Rain,0,NaN,NaT
2014-12-04,2394,775,608,706,589,553,47,Sunny,0,NaN,NaT
2014-12-05,2288,690,576,617,474,449,50,Rain,0,NaN,NaT
2014-12-06,1445,550,488,563,146,205,52,Rain,0,NaN,NaT
2014-12-07,2083,505,355,519,172,398,44,Rain,0,NaN,NaT
2014-12-08,4118,744,714,555,443,663,37,Sunny,0,NaN,NaT
2014-12-09,3917,674,1451,521,756,648,48,Rain,0,NaN,NaT
2014-12-10,2723,788,717,619,618,688,42,Rain-Snow,0,NaN,NaT
2014-12-11,2631,775,606,613,429,534,40,Snow,0,NaN,NaT
2014-12-12,2362,766,562,647,659,502,41,Sunny,0,NaN,NaT
2014-12-13,1730,600,339,598,144,367,47,Sunny,0,NaN,NaT
2014-12-14,1396,466,320,500,128,330,47,Sunny,0,NaN,NaT
2014-12-15,2069,852,648,642,496,639,48,Sunny,0,NaN,NaT
2014-12-16,2021,770,615,719,487,610,50,Rain,0,NaN,NaT
2014-12-17,1682,709,572,657,534,692,55,Rain,0,NaN,NaT
2014-12-18,2068,689,581,624,491,714,44,Sunny,0,NaN,NaT
2014-12-19,1924,646,486,670,522,425,40,Sunny,0,NaN,NaT
2014-12-20,1766,589,383,561,100,251,34,Sunny,0,NaN,NaT
2014-12-21,1547,491,312,425,124,379,38,Snow,0,NaN,NaT
2014-12-22,2156,682,583,623,793,590,48,Rain,0,NaN,NaT
2014-12-23,1659,522,530,609,360,531,50,Rain,0,NaN,NaT
2014-12-24,1282,374,419,560,366,254,57,Fog-Rain,0,NaN,NaT
2014-12-25,639,164,217,405,104,286,57,Fog-Rain,0,Christmas Day,2015-12-25
2014-12-26,1331,433,487,508,191,367,51,Sunny,0,NaN,NaT
2014-12-27,1032,384,328,512,138,305,54,Sunny,0,NaN,NaT
2014-12-28,1104,376,404,413,136,368,54,Rain,0,NaN,NaT
2014-12-29,2271,699,739,636,737,617,46,Sunny,0,NaN,NaT
2014-12-30,2455,665,652,637,375,589,36,Sunny,0,NaN,NaT
2014-12-31,1842,60,185,0,0,0,34,Sunny,0,NaN,NaT

In [9]:
df_2015.head()

,Building Conditions,General Request,Living Conditions,Parking Enforcement,Signal/Sign Repair,Street/Sidewalk Repair,Max TempF,Weather,Holiday
Created_Date,,,,,,,,,
2015-01-01,1607,369,273,438,112,264,40,Sunny,0
2015-01-02,1935,604,581,588,282,499,45,Sunny,0
2015-01-03,1527,465,369,511,156,322,47,Rain,0
2015-01-04,1230,395,403,486,165,357,55,Fog-Rain,0
2015-01-05,2797,748,705,625,537,734,51,Sunny,0