### How can I replace the 0 values in df_2014 with 1 or the ```df_holiday['Holday']``` value for the index matching the holiday's date?

In [21]:
import numpy as np
import pandas as pd 
import seaborn
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
import datetime
from scipy import stats
%matplotlib inline

**Grab data from master NYC file, sort and group to show complaint amount by type for each day**

In [22]:
cols = ['Created_Date', 'Complaint_Type']
df = pd.read_csv('NYC.csv', parse_dates=['Created_Date'], usecols=cols, index_col='Created_Date')
df = pd.get_dummies(df.Complaint_Type)
df = df.reset_index()
df = df.groupby(df['Created_Date']).sum()
df.reset_index().head()
df = df.sort_index()

**Read in weather data for the years being analyzed and index by date**

In [23]:
keepers = ['EST', 'Max TemperatureF', 'Events']
df_weather_2014 = pd.read_csv('clean_2014_weather.csv', usecols=keepers, parse_dates='EST')
df_weather_2015 = pd.read_csv('clean_2015_weather.csv', usecols=keepers, parse_dates='EST')
df_weather_2014 = df_weather_2014.set_index('EST')
df_weather_2015 = df_weather_2015.set_index('EST')

**Join the weather event to the year's dataframe, initialize 'Holiday' column with 0 vals**

In [24]:
df_2014 = df[:365].join(df_weather_2014)
df_2015 = df[365:].join(df_weather_2015)
df_2014['Holiday'] = 0
df_2015['Holiday'] = 0

**Rename columns to better fit my screen**

In [25]:
df_2014.columns = ['Building Conditions', 'General Request', 'Living Conditions', 'Parking Enforcement', 'Signal/Sign Repair', 'Street/Sidewalk Repair', 'Max TempF', 'Weather', 'Holiday']
df_2015.columns = ['Building Conditions', 'General Request', 'Living Conditions', 'Parking Enforcement', 'Signal/Sign Repair', 'Street/Sidewalk Repair', 'Max TempF', 'Weather', 'Holiday']

**Read in holiday csv, contains holidays and dates for each year**

In [26]:
df_holidays = pd.read_csv('../../../holidays.csv', parse_dates=['2014_date', '2015_date'])

In [30]:
df_holidays

                         Holiday  2014_date  2015_date
0                 New Year's Day 2014-01-01 2015-01-01
1     Martin Luther King Jr. Day 2014-01-20 2015-01-19
2               Superbowl Sunday 2014-02-02 2015-02-01
3                Valentine's Day 2014-02-14 2015-02-14
4   George Washington's Birthday 2014-02-17 2015-02-16
5                         Easter 2014-04-20 2015-04-05
6                   Mother's Day 2014-05-11 2015-05-10
7                   Memorial Day 2014-05-26 2015-05-25
8                   Father's Day 2014-06-15 2015-06-21
9               Independence Day 2014-07-04 2015-07-04
10                     Labor Day 2014-09-01 2015-09-07
11                  Columbus Day 2014-10-13 2015-10-12
12                     Halloween 2014-10-31 2015-10-31
13                  Veterans Day 2014-11-11 2015-11-11
14              Thanksgiving Day 2014-11-27 2015-11-26
15                  Black Friday 2014-11-28 2015-11-27
16                 Christmas Day 2014-12-25 2015-12-25

In [27]:
df_2014.head()

,Building Conditions,General Request,Living Conditions,Parking Enforcement,Signal/Sign Repair,Street/Sidewalk Repair,Max TempF,Weather,Holiday
Created_Date,,,,,,,,,
2014-01-01,1512,388,155,336,139,303,34,Sunny,0
2014-01-02,3236,921,263,360,315,320,33,Snow,0
2014-01-03,3712,624,235,306,240,516,19,Fog-Snow,0
2014-01-04,4347,489,154,375,130,1188,31,Sunny,0
2014-01-05,2529,500,169,361,206,1022,49,Fog-Rain,0

In [28]:
df_2015.head()

,Building Conditions,General Request,Living Conditions,Parking Enforcement,Signal/Sign Repair,Street/Sidewalk Repair,Max TempF,Weather,Holiday
Created_Date,,,,,,,,,
2015-01-01,1607,369,273,438,112,264,40,Sunny,0
2015-01-02,1935,604,581,588,282,499,45,Sunny,0
2015-01-03,1527,465,369,511,156,322,47,Rain,0
2015-01-04,1230,395,403,486,165,357,55,Fog-Rain,0
2015-01-05,2797,748,705,625,537,734,51,Sunny,0