In [75]:
import numpy as np
import pandas as pd 
import seaborn
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
import datetime
from scipy import stats
%matplotlib inline

In [76]:
df_2016 = pd.read_csv('2016_df.csv', parse_dates='Created_Date', index_col='Created_Date')
df_2015 = pd.read_csv('2015_df.csv', parse_dates='Created_Date', index_col='Created_Date')
df_2014 = pd.read_csv('2014_df.csv', parse_dates='Created_Date', index_col='Created_Date')

In [93]:
df_2014.head()

,Building_Conditions,General_Request,Living_Conditions,Parking_Enforcement,Signal_Sign_Repair,Street_Sidewalk_Repair,Max_TempF,Weather
Created_Date,,,,,,,,
2014-01-01,1512,388,155,336,139,303,34,10
2014-01-02,3236,921,263,360,315,320,33,9
2014-01-03,3712,624,235,306,240,516,19,4
2014-01-04,4347,489,154,375,130,1188,31,10
2014-01-05,2529,500,169,361,206,1022,49,1

In [94]:
df_2015.head()

,Building_Conditions,General_Request,Living_Conditions,Parking_Enforcement,Signal_Sign_Repair,Street_Sidewalk_Repair,Max_TempF,Weather
Created_Date,,,,,,,,
2015-01-01,1607,369,273,438,112,264,40,8
2015-01-02,1935,604,581,588,282,499,45,8
2015-01-03,1527,465,369,511,156,322,47,4
2015-01-04,1230,395,403,486,165,357,55,1
2015-01-05,2797,748,705,625,537,734,51,8

In [95]:
df_2016.head()

,Buiding_Conditions,General_Request,Living_Conditions,Signal_Sign_Repair,Street_Sidewalk_Repair,Max_TempF,Weather
Created_Date,,,,,,,
2016-01-01,-,-,-,-,-,42,-
2016-01-02,-,-,-,-,-,40,-
2016-01-03,-,-,-,-,-,45,-
2016-01-04,-,-,-,-,-,36,-
2016-01-05,-,-,-,-,-,29,-

In [81]:
train_years = pd.concat([df_2014, df_2015])

In [86]:
X_train = train_years['Max_TempF']
X_test = df_2016['Max_TempF']

In [90]:
y_train = train_years.values
y_test = df_2016.values

In [91]:
lr = LinearRegression()

In [92]:
lr.fit(X_train, y_train)

/usr/local/lib/python2.7/dist-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: Found arrays with inconsistent numbers of samples: [  1 730]